*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;

}
body{
    background-color: beige;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
div.container{
    background-color: black;
    width: 90%;
    margin: 30px;
    height: 700px;
}
label.logo{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
    line-height: 50px;

}
nav{
    width: 100%;
    height: 40px;
    
}
nav ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 11px;
}
nav ul li{
    padding-right: 80px;
margin-top: -37px;

}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
}
nav ul li a.active{
    color:indianred;
}
h1{
    color: indianred;
    text-align: center;
    padding-top: 60px;
    font-family: sans-serif;
}
.container2{
    background-color:rgb(105, 105, 105,0.4);
    width: 93%;
    height: 500px;
    margin: 30px;

}
p.address{
    color: white;
    position: absolute;
    top: 230px;
    left: 500px;
    font-size: 9px;

}
address{
    color: white;
    position: absolute;
    top: 244px;
    left: 470px;
    font-size: 9px;
    line-height: 14px;
}
p.inquires{
    color: white;
    font-size: 9px;
    position: relative;
    top: -40px;
    left: 200px;
    line-height: 14px;
    text-align: center;
}
h3{
    color: indianred;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    top: 70px;
}
p.book{
    color: white;
    position: absolute;
    top: 90px ;
    text-align: center;
}
h3.be{
    color: indianred;
    font-weight: bolder;
    
    position: relative;
    top: 1px;
    left: 200px;
    font-family: sans-serif;
}
 a.link{
    color: white;
    
    
}
p.link{
    position: relative;
    top: 10px;
    left: 200px;
    text-align: center;
}
div.newsletter{
    background-color: indianred;
    width: 580px;
    height: 250px;
    position: absolute;
    top: 160px;
    left: -60px;
}
h1.newsletter{
    color: black;
    text-align: center;

}
p.newsletter{
    color: black;
    text-align: center;
    font-size: 12px;
}
#emailbody{
    background-color: indianred;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
    height: 30px;
    color: black;
    margin-left: 30px;
    margin-top: 70px;
    font-size: 10px;
}
#submit{
    width: 130px;
    height: 30px;
    background-color: black;
    color: white;
    border: 1px solid black;
    margin-left: 10px;
}
img{
    width: 30px;
    height: 30px;


}
figure{
    position: absolute;
    left: 1238px;
    top: 280px;
    display: flex;
    flex-direction: column;
}